.dash-grid{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 200px) ;
  margin-top: 70px;
  gap: 20px;
}

.dashbord-profile-name {
  margin-top: 15px;
}

.profile-grid{
  padding: 40px;
  border: 0.5px solid black;
  p{
    font-size: 18px;
  }
}
.bookings-grid{
  padding: 40px;
  border: 0.5px solid black;
  p{
    font-size: 18px;
  }
}
.messages-grid{
  padding: 40px;
  border: 0.5px solid black;
  p{
    font-size: 18px;
  }
}
.sessions-grid{
  padding: 40px;
  border: 0.5px solid black;
  p{
    font-size: 18px;
  }
}
.articles-grid{
  padding: 40px;
  border: 0.5px solid black;
  p{
    font-size: 18px;
  }
}
