.dash-grid{
  display: grid;
  grid-template-columns: 2fr 1.5fr 1fr;
  grid-template-rows: repeat(2, 200px) ;
  margin-top: 70px;
  gap: 20px;

  h4{
    color: #F5F5F5;
    text-shadow: 1px 1px 1px #95999c;
  }
  p{
    font-size: 16px;
    color: black;
  }
}

.dashbord-profile-name {
  margin-top: 15px;
}

.profile-grid{
  background-image: linear-gradient(to right, #90cefd, #a3d6fd, #b7dffe, #cae7fe, #ddf0fe, #f0f9ff);
  padding: 40px;
  border: 0.5px solid #cae7fe;
  border-radius: 8px;
  box-shadow: 0.5px 0.5px #EFEFEF ;
}
.bookings-grid{
  background-image: linear-gradient(to left, #90cefd, #a3d6fd, #b7dffe, #cae7fe, #ddf0fe, #f0f9ff);
  padding: 40px;
  border: 0.5px solid #cae7fe;
  box-shadow: 0.5px 0.5px #EFEFEF ;
  border-radius: 8px;
}
.messages-grid{
  background-image: linear-gradient(to right, #90cefd, #a3d6fd, #b7dffe, #cae7fe, #ddf0fe, #f0f9ff);
  padding: 40px;
  border: 0.5px solid #cae7fe;
  box-shadow: 0.5px 0.5px #EFEFEF ;
  border-radius: 8px;
}
.sessions-grid{
  background-image: linear-gradient(to right, #90cefd, #a3d6fd, #b7dffe, #cae7fe, #ddf0fe, #f0f9ff);
  padding: 40px;
  border: 0.5px solid #cae7fe;
  box-shadow: 0.5px 0.5px #EFEFEF ;
  border-radius: 8px;
}
.articles-grid{
  background-image: linear-gradient(to left, #90cefd, #a3d6fd, #b7dffe, #cae7fe, #ddf0fe, #f0f9ff);
  padding: 40px;
  border: 0.5px solid #cae7fe;
  box-shadow: 0.5px 0.5px #EFEFEF ;
  border-radius: 8px;
}


.book-section{
  // border: 0.5px solid #cae7fe;
  padding: 0px;
  display: flex;
  justify-content: space-between;
p{
  font-size: 14px;
}
}


.hidden-status-input{
  .mb-3{
    margin-bottom: 0 !important;
  }

}
