.login-btn-forgot {
  padding: 10px;
  color: #fff;
  border: solid #fff;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  background: linear-gradient(180deg, #0089ff 0%, #78d2ff 100%);
  border-radius: 50px;


}
