.notes-card-container {
  margin: 120px 150px 0px;
}

.notes-header {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 70px;
  font-size: 35px;
}

.notes-checkbox {
  margin-bottom: 20px;
}

.notes-input {
  height: 400px;
}
