.show-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
}

.show-card {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
  border: 0.5px solid #3bb0ff;
  text-align: center;
}

.show-card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.show-links{
  display: flex;
  justify-content: space-evenly;
}

body{
  margin: auto;
  overflow-x: hidden;
}
