.booking_articles {
  text-align: center;
}

.booking_header {
  text-align: center;
  margin-top: 80px;
}

.booking_therapist_profile_card {
  border: solid rgb(230, 230, 230) 1px;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
  transition: .2s;
  padding: 20px 15px;
  align-items: center;

  li {
    list-style: none;
  }
}

.booking_grid {
  display: grid;
  grid-template-columns: 25% auto;
  gap: 20px;
  margin-top: 25px;
}

.booking_therapist_notes_card {
  border: solid rgb(230, 230, 230) 1px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
  transition: .2s;
  padding: 20px 35px;
  align-items: center;
  line-height: 35px;
}

.booking_heading {
  font-weight: 700;
  line-height: 70px;
  font-size: 35px;
}

.name_profile_card {
  font-weight: bold;
  margin-top: 10px;
}

.modal-content {
  width: auto;
}

.session_status {
  border: solid 1px rgb(230, 230, 230);
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
  background-color: #fff;
}
