<div class="bookings-container">
  <h1>Bookings</h1>
  <div class="bookings-info">
    <% @applied_bookings.each do |bookings| %>
      <p><%= bookings.date %></p>
      <p><%= bookings.time %></p>
    <% end %>
  </div>
