<footer id="newsletter">
  <footer id="newsletter" style= "background-image: url(<%=image_path ("footer-bg.png")%>)" >
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="section-heading">
          <h4>Shareing Is Caring</h4>
          <p>Making professional therapy accessible, affordable, and convenient
            <p>so anyone who struggles with life’s challenges can get help, anytime and anywhere.</p>
          </div>
        </div>
        <div class="footer-content">
          <ul>
            <h4>Usefull Links</h4>
            <li>hello</li>
            <li>hello</li>
            <li>hello</li>
            <li>hello</li>
          </ul>
          <ul>
            <h4>Usefull Links</h4>
            <li>hello</li>
            <li>hello</li>
            <li>hello</li>
            <li>hello</li>
          </ul>
          <ul>
            <h4>Usefull Links</h4>
            <li>hello</li>
            <li>hello</li>
            <li>hello</li>
            <li>hello</li>
          </ul>
          <ul>
            <h4>Usefull Links</h4>
            <li>hello</li>
            <li>hello</li>
            <li>hello</li>
            <li>hello</li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright © 2022 Couch App Dev Company. All Rights Reserved.
              <br>
              Design: <a href="modeoasis.com" target="_blank" title="css templates">ModeOasis</a></p>
          </div>
        </div>
      </div>
    </footer>
