<%= render 'shared/banner' %>
<div class="container">
  <div class="center_page">
    <%# Review section %>
    <h2 class="header2">Our Success Stories<span class="dot">.</span></h2>

    <div class="main">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1644961130787-237e517c7357?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0NjIxNjA2MQ&ixlib=rb-1.2.1&q=80&w=1080" alt="Rans avatar" class="avatar card_image">
        <h4 class="card__header">King Ran</h4>
        <p class="card__text">"The biggest achievement I've made is, truly, fighting for myself. Through working with Aiko and taking the time to discuss various issues with her, I've become a bigger advocate for myself, and I'm so proud of that."</p>
      </div>
      <div class="card">
        <img src="https://images.unsplash.com/photo-1643793018321-560128af1753?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0NjIxNjA5Ng&ixlib=rb-1.2.1&q=80&w=1080" alt="Lauras Avatar" class="avatar card_image">
        <h4 class="card__header">Laura</h4>
        <p class="card__text">"I have now been working with Sheilah on BetterHelp for about 4 weeks, and can confidently say that I am a lot less anxious about my career path now than when I first signed up...I am so much better off now than I was before."</p>
      </div>
      <div class="card">
        <img src="https://images.unsplash.com/photo-1644775110946-86c566b53fde?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0NjIxNTkxMg&ixlib=rb-1.2.1&q=80&w=1080" alt="Talias avatar" class="avatar card_image">
        <h4 class="card__header">Talia</h4>
        <p class="card__text">"I am a totally different person now than when I signed up 19 months ago. I have found my voice and can speak up for myself now....My confidence level is also better than it ever has been."</p>
      </div>
    </div>
    <%# Article section %>
    <h2 class="header2">Popular Articles<span class="dot">.</span></h2>
    <div class="article_main">
      <div class="article_card">
        <img class="article_card__img" src="https://images.unsplash.com/photo-1645976417695-e76bf772b1bd?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0NjIxNTc0MQ&ixlib=rb-1.2.1&q=80&w=1080" alt="article preview">
        <div class="article_card_info">
          <h4 class="article_card__header">The Things We Don't Say</h4>
          <p class="article_card__text">The Things We Don't Say is Hope For The Day®'s signature mental health education program teaching any individual the general skills needed to take action on our personal mental health and be supportive to peers in our community.</p>
          <p class='article_btn'>Read More</p>
        </div>
      </div>
      <div class="article_card">
        <img class="article_card__img" src="https://images.unsplash.com/photo-1643865420039-0c4d77d0553f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0NjIxNTgyMA&ixlib=rb-1.2.1&q=80&w=1080" alt="article preview">
        <div class="article_card_info">
          <h4 class="article_card__header">Partners in Prevention</h4>
          <p class="article_card__text">"Partners in Prevention are any group of people actively working towards mental health education and proactive suicide prevention. While the reasons for participation vary based on our individual experiences and stories, each partner recognizes that action must be taken.
            "</p>
          <p class='article_btn'>Read More</p>
        </div>
      </div>
      <div class="article_card">
        <img class="article_card__img" src="https://images.unsplash.com/photo-1644869432047-fa8bdbe849cd?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0NjIxNjAyNQ&ixlib=rb-1.2.1&q=80&w=1080" class="article_card_image">
        <div class="article_card_info">
          <h4 class="article_card__header">The National Suicide Prevention</h4>
          <p class="article_card__text">The N.S.P.A.M.P. is a simple first action step for municipalities to take to start the conversation about proactive suicide prevention and mental health awareness in their community.</p>
          <p class='article_btn'>Read More</p>
        </div>
      </div>
    </div>
  </div>
</div>
