<%= render 'shared/banner' %>

<div class="container">
  <div class="center_page">
    <%# Review section %>
    <h2 class="header2">Our <em>Success</em> Stories<span class="dot">.</span></h2>
    <div class="main">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1644961130787-237e517c7357?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0NjIxNjA2MQ&ixlib=rb-1.2.1&q=80&w=1080" alt="Rans avatar" class="avatar card_image">
        <h4 class="card__header">Ran</h4>
        <p class="card__text"><svg width="27" height="22" viewBox="0 0 27 22" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M11.5625 2.34375C10.3385 3.04688 9.34896 3.65885 8.59375 4.17969C7.83854 4.67448 7.07031 5.33854 6.28906 6.17188C5.5599 6.95312 5 7.77344 4.60938 8.63281C4.21875 9.49219 3.94531 10.599 3.78906 11.9531H5.66406C7.27865 11.9531 8.54167 12.3568 9.45312 13.1641C10.3906 13.9453 10.8594 15.1042 10.8594 16.6406C10.8594 17.7344 10.4427 18.763 9.60938 19.7266C8.80208 20.6641 7.68229 21.1328 6.25 21.1328C4.01042 21.1328 2.40885 20.4036 1.44531 18.9453C0.481771 17.4609 0 15.5208 0 13.125C0 11.4323 0.364583 9.89583 1.09375 8.51562C1.82292 7.10938 2.70833 5.85938 3.75 4.76562C4.81771 3.64583 5.95052 2.69531 7.14844 1.91406C8.34635 1.13281 9.34896 0.494792 10.1562 0L11.5625 2.34375ZM26.0156 2.34375C24.7917 3.04688 23.8021 3.65885 23.0469 4.17969C22.2917 4.67448 21.5234 5.33854 20.7422 6.17188C19.987 6.97917 19.4141 7.8125 19.0234 8.67188C18.6589 9.50521 18.3984 10.599 18.2422 11.9531H20.1172C21.7318 11.9531 22.9948 12.3568 23.9062 13.1641C24.8438 13.9453 25.3125 15.1042 25.3125 16.6406C25.3125 17.7344 24.8958 18.763 24.0625 19.7266C23.2552 20.6641 22.1354 21.1328 20.7031 21.1328C18.4635 21.1328 16.862 20.4036 15.8984 18.9453C14.9349 17.4609 14.4531 15.5208 14.4531 13.125C14.4531 11.4323 14.8177 9.89583 15.5469 8.51562C16.276 7.10938 17.1615 5.85938 18.2031 4.76562C19.2708 3.64583 20.4036 2.69531 21.6016 1.91406C22.7995 1.13281 23.8021 0.494792 24.6094 0L26.0156 2.34375Z" fill="#1D90F5"></path> </svg></p>
          The biggest achievement I've made is, truly, fighting for myself. Through working with Aiko and taking the time to discuss various issues with her, I've become a bigger advocate for myself, and I'm so proud of that."</p>
      </div>
      <div class="card">
        <img src="https://images.unsplash.com/photo-1643793018321-560128af1753?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0NjIxNjA5Ng&ixlib=rb-1.2.1&q=80&w=1080" alt="Lauras Avatar" class="avatar card_image">
        <h4 class="card__header">Laura</h4>
        <p class="card__text"><svg width="27" height="22" viewBox="0 0 27 22" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M11.5625 2.34375C10.3385 3.04688 9.34896 3.65885 8.59375 4.17969C7.83854 4.67448 7.07031 5.33854 6.28906 6.17188C5.5599 6.95312 5 7.77344 4.60938 8.63281C4.21875 9.49219 3.94531 10.599 3.78906 11.9531H5.66406C7.27865 11.9531 8.54167 12.3568 9.45312 13.1641C10.3906 13.9453 10.8594 15.1042 10.8594 16.6406C10.8594 17.7344 10.4427 18.763 9.60938 19.7266C8.80208 20.6641 7.68229 21.1328 6.25 21.1328C4.01042 21.1328 2.40885 20.4036 1.44531 18.9453C0.481771 17.4609 0 15.5208 0 13.125C0 11.4323 0.364583 9.89583 1.09375 8.51562C1.82292 7.10938 2.70833 5.85938 3.75 4.76562C4.81771 3.64583 5.95052 2.69531 7.14844 1.91406C8.34635 1.13281 9.34896 0.494792 10.1562 0L11.5625 2.34375ZM26.0156 2.34375C24.7917 3.04688 23.8021 3.65885 23.0469 4.17969C22.2917 4.67448 21.5234 5.33854 20.7422 6.17188C19.987 6.97917 19.4141 7.8125 19.0234 8.67188C18.6589 9.50521 18.3984 10.599 18.2422 11.9531H20.1172C21.7318 11.9531 22.9948 12.3568 23.9062 13.1641C24.8438 13.9453 25.3125 15.1042 25.3125 16.6406C25.3125 17.7344 24.8958 18.763 24.0625 19.7266C23.2552 20.6641 22.1354 21.1328 20.7031 21.1328C18.4635 21.1328 16.862 20.4036 15.8984 18.9453C14.9349 17.4609 14.4531 15.5208 14.4531 13.125C14.4531 11.4323 14.8177 9.89583 15.5469 8.51562C16.276 7.10938 17.1615 5.85938 18.2031 4.76562C19.2708 3.64583 20.4036 2.69531 21.6016 1.91406C22.7995 1.13281 23.8021 0.494792 24.6094 0L26.0156 2.34375Z" fill="#1D90F5"></path> </svg>
          <p class="card__text">"I have now been working with Sheilah on Couch for about 4 weeks, and can confidently say that I am a lot less anxious about my career path now than when I first signed up...I am so much better off now than I was before."</p>
        </div>
        <div class="card">
          <img src="https://images.unsplash.com/photo-1644775110946-86c566b53fde?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0NjIxNTkxMg&ixlib=rb-1.2.1&q=80&w=1080" alt="Talias avatar" class="avatar card_image">
          <h4 class="card__header">Talia</h4>
          <p class="card__text"><svg width="27" height="22" viewBox="0 0 27 22" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M11.5625 2.34375C10.3385 3.04688 9.34896 3.65885 8.59375 4.17969C7.83854 4.67448 7.07031 5.33854 6.28906 6.17188C5.5599 6.95312 5 7.77344 4.60938 8.63281C4.21875 9.49219 3.94531 10.599 3.78906 11.9531H5.66406C7.27865 11.9531 8.54167 12.3568 9.45312 13.1641C10.3906 13.9453 10.8594 15.1042 10.8594 16.6406C10.8594 17.7344 10.4427 18.763 9.60938 19.7266C8.80208 20.6641 7.68229 21.1328 6.25 21.1328C4.01042 21.1328 2.40885 20.4036 1.44531 18.9453C0.481771 17.4609 0 15.5208 0 13.125C0 11.4323 0.364583 9.89583 1.09375 8.51562C1.82292 7.10938 2.70833 5.85938 3.75 4.76562C4.81771 3.64583 5.95052 2.69531 7.14844 1.91406C8.34635 1.13281 9.34896 0.494792 10.1562 0L11.5625 2.34375ZM26.0156 2.34375C24.7917 3.04688 23.8021 3.65885 23.0469 4.17969C22.2917 4.67448 21.5234 5.33854 20.7422 6.17188C19.987 6.97917 19.4141 7.8125 19.0234 8.67188C18.6589 9.50521 18.3984 10.599 18.2422 11.9531H20.1172C21.7318 11.9531 22.9948 12.3568 23.9062 13.1641C24.8438 13.9453 25.3125 15.1042 25.3125 16.6406C25.3125 17.7344 24.8958 18.763 24.0625 19.7266C23.2552 20.6641 22.1354 21.1328 20.7031 21.1328C18.4635 21.1328 16.862 20.4036 15.8984 18.9453C14.9349 17.4609 14.4531 15.5208 14.4531 13.125C14.4531 11.4323 14.8177 9.89583 15.5469 8.51562C16.276 7.10938 17.1615 5.85938 18.2031 4.76562C19.2708 3.64583 20.4036 2.69531 21.6016 1.91406C22.7995 1.13281 23.8021 0.494792 24.6094 0L26.0156 2.34375Z" fill="#1D90F5"></path> </svg>
            <p class="card__text">"I am a totally different person now than when I signed up 4 months ago. I have found my voice and can speak up for myself now....My confidence level is also better than it ever has been."</p>
          </div>
        </div>
        <%# Article section %>
        <h2 class="header2">Popular Articles<span class="dot">.</span></h2>
        <div class="article_main">
          <div class="article_card">
            <img class="article_card__img" src="https://images.unsplash.com/photo-1645976417695-e76bf772b1bd?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0NjIxNTc0MQ&ixlib=rb-1.2.1&q=80&w=1080" alt="article preview">
            <div class="article_card_info">
              <h4 class="article_card__header">The Things We Don't Say</h4>
              <p class="article_card__text">Despite the fact that about 7% of US adults experience depression, the disease is still a mystery for many people in the world. It is complicated for many reasons, most notably because in some households and cultures it's still taboo to speak directly about mental health issues.</p>
              <p class='article_btn'>Read More</p>
            </div>
          </div>
          <div class="article_card">
            <img class="article_card__img" src="https://images.unsplash.com/photo-1643865420039-0c4d77d0553f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0NjIxNTgyMA&ixlib=rb-1.2.1&q=80&w=1080" alt="article preview">
            <div class="article_card_info">
              <h4 class="article_card__header">Partners in Prevention</h4>
              <p class="article_card__text">Regular anxiety occurs when a challenge appears. Then, the anxiety goes away when that challenge has been resolved. It becomes a problem, however, when anxiety becomes unbearable , significantly interferes with daily functioning, or if it lingers beyond when the challenge is resolved.</p>
              <p class='article_btn'>Read More</p>
            </div>
          </div>
          <div class="article_card">
            <img class="article_card__img" src="https://images.unsplash.com/photo-1644869432047-fa8bdbe849cd?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0NjIxNjAyNQ&ixlib=rb-1.2.1&q=80&w=1080" class="article_card_image">
            <div class="article_card_info">
              <h4 class="article_card__header">National Suicide Prevention</h4>
              <p class="article_card__text">While most types of depression occur due to a chemical imbalance in the brain, situational depression is a type of depression that takes place after a traumatic or difficult life event. Situational depression symptoms can mirror other kinds of depression, causing you to feel sad or disinterested in normal activities.</p>
              <p class='article_btn'>Read More</p>
            </div>
          </div>
        </div>
      </div>
    </div>
