// Place all the styles related to the Therapists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// MEDIA QUERY

.therapists_main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 25px 20px;
  padding: 15px;
}

.therapist_card {
  border: solid #e6e6e6 1px;
  border-radius: 5px;
  text-align: center;
  background-color: #f6f8fd;
  box-shadow: 0 3rem 6rem rgba(255, 255, 255, 255);
  transition: 0.2s;

}

.card__img {
  display: block;
  width: 100%;
  height: 18rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

.therapist_card:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

.therapists_index {
  text-align: center;
}

.therapists_card__header {
  font-size: 1.5rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1rem;
}

.therapist_card_text {
  letter-spacing: 0.03rem;
  font-size: 1rem;
  line-height: 1.7;
  color: #aca9a9;
  margin-bottom: 2rem;
}

.therapists_btn {
  border: solid #fff;
  margin-bottom: 0px;
  margin-top: 0px;
  background: linear-gradient(180deg, #0089ff 0%, #78d2ff 100%);
  border-radius: 12px;
  color: #fff;
  border: solid #fff;
  padding: 7px !important;
  top: 7px;

  a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
}

.therapists_btn:hover {
  background: linear-gradient(180deg, #0089ff 0%, #78d2ff 100%);
}

.therapist_card_info {
  padding: 30px 20px !important;
}
