// Place all the styles related to the Therapists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// MEDIA QUERY

.therapists_main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 25px 20px;
  padding: 15px;
}

.therapist_card {
  border: solid rgb(230, 230, 230) 1px;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
  transition: .2s;
}

.card__img {
  display: block;
  width: 100%;
  height: 18rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

.therapist_card:hover {
  transform: translateY(-.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, .2);
}

.therapists_index {
  text-align: center;
}

.therapists_card__header {
  font-size: 1.5rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1rem;
}

.therapist_card_text {
  letter-spacing: 0.03rem;
  font-size: 1rem;
  line-height: 1.7;
  color: #404040;
  margin-bottom: 2rem;
}

.therapists_btn {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: #e6ecff;
  color: #3363ff;
  text-decoration: none;
  transition: .2s;
  border-radius: 0.4rem;
}

.therapists_btn:hover {
  background-color: darken($color: #e6ecff, $amount: 3%);
}

.therapist_card_info {
  padding: 15px 20px;
}
