
.banner-image {
  display: flex;
  margin-bottom: 15px;

  .banner-h2 {
    font-family: "Nunito", sans-serif;
    font-style: normal;

    font-weight: 700;
    font-size: 55px;
    line-height: 124.4%;
    text-align: center;
  }
  p {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 26px;

    color: #000000;
  }

  .button {
    text-align: center;
    border-radius: 30px;
    padding: 15px 40px !important;
    font-size: 15px;
    font-weight: 500 !important;
    letter-spacing: 0.3px !important;


a {
  text-decoration: none;
    display: inline-block !important;
    text-transform: capitalize;
    color:#fff;


}
    &-blue {
      background-color: #0089ff;
      font-family: "Nunito", sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500 !important;


    }
    &:hover{
      color: #fff;
    }
  }
}
.button-wrap{
  display: flex;
  justify-content: space-evenly;
  margin: 50px 290px;

}
.button {

  margin-right: 20px;
  color: #fff;
  line-height: 24px;
  letter-spacing: 1.2px;
  font-family: 'Raleway', sans-serif;
  padding: 14px 25px;
  border-radius: 1px;


}
