footer {
  background-image: url(../images/footer-bg.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 300px;
  padding-bottom: 60px;
}

footer .section-heading {
  margin-bottom: 45px;
}

footer .section-heading h4 {
  line-height: 45px;
  color: #fff;
  margin-left: 13%;
  margin-right: 13%;
  text-align: center;
}

footer #search {
  margin-bottom: 80px;
}

footer #search input::placeholder {
  color: #fff;
}

footer #search input {
  font-size: 15px;
  color: #fff;
  outline: none;
  height: 46px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  width: 100%;
}

footer #search button {
  height: 46px;
  border-radius: 23px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  width: 100%;
  transition: all .5s;
}

footer #search button:hover {
  background-color: #fff;
  color: #4b8ef1;
}



.footer-widget p {
  margin-bottom: 15px;
}

.footer-widget p,
.footer-widget p a {
  color: #fff;
}


.footer-widget a:hover {
  opacity: 0.75;
}

footer .copyright-text p {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
  color: #fff;
}





.footer-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 15px;
  color: #fff;
 p a {
    color: #fff;
    transition: all .5s;
  }
 p a:hover {
    opacity: 0.75;
    color: #fff;
  }
 p a {
    color: #fff;
    transition: all .5s;
  }
  .logo img {
    max-width: 150px;
    margin-bottom: 30px;
  }

 h4 {
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 20px;
  }

}
