.navbar {
  background: #30A3FB;
  border: none;
  width: 100%;
}

#logo{
  width: 50px;
}

#wave {
  position: relative;
  height: 100px;
  width: 100%;
  background:  #30A3FB;
  margin-bottom: 50px;
  // overflow-x: hidden;
}
#wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #F5F5F5;
  transform: translate(85%,60%);
}
#wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background: #30A3FB;
  transform: translate(-4%, 40%);
  z-index: -1;
}

#login-btn {
  background-color: #30A3FB;
  border-radius: 18px;

  a{
    text-decoration: none;
    color: #F5F5F5;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 17px;
  }
}
