.navbar {
  background: #30A3FB;
  border: none;
  width: 100%;

  ul{
    list-style-type: none;
  }
}

#logo{
  width: 125px;
}

#wave {
  position: relative;
  height: 110px;
  width: 100%;
  background:  #30A3FB;
  margin-bottom: 50px;
  // overflow-x: hidden;
}
#wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #fff;
  transform: translate(85%,60%);
}
#wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background: #30A3FB;
  transform: translate(-4%, 40%);
  z-index: -1;
}

#login-btn {
  border: solid #fff;
  margin-bottom: 30px;
  height: 42px;
  background: linear-gradient(180deg, #0089ff 0%, #78d2ff 100%);
  border-radius: 12px;
  color: #fff;

}


  a{
    text-decoration: none;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 17px;
  }

.logout-bth{
    padding: 9px;
    color: #fff;
    width: 100%;
    background: rgba(240, 6, 53, 0.938);
    border-radius: 15px;
    text-decoration: none;
    height: 42px;


    a{
      text-decoration: none;
      color: #fff
    }
}
#margin-log{
  margin-left:1170px;

}
